<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'origin.css' | asset_url | stylesheet_tag }}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Shadows+Into+Light" rel="stylesheet">

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    <div class="wrapper">
        <div class="container">
            <header class="header">
                <a class="header__logo" href="/">
                    <img class="not-palm" alt="{{ shop.name }}" itemprop="logo" src="{{ 'header.png' | asset_url }}">
                    <img class="palm" alt="{{ shop.name }}" itemprop="logo" src="{{ 'header--mobile.png' | asset_url }}">
                </a>
            </header>
        </div>
        {% include 'site-nav' %}
    </div>

    <div class="content">
        {{ content_for_layout }}
    </div>


        <footer class="footer">
            <div class="container">
                {% if settings.footer_newsletter_enable %}
                    <div class="footer__newsletter">
                        <h3 class="icon-mail footer__title align--centre padding--right">Sign up to our newsletter for news, discounts and offers</h3>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                          <form  class="box__signup fade-drop-in-5" action="//nichestore.us10.list-manage.com/subscribe/post?u=b8d32cc1098dad68953f5bab7&amp;id=82a109e7bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                              <div id="mc_embed_signup_scroll">
                              <h2 class="hidden">Subscribe to our mailing list</h2>
                              <div id="mce-responses" class="clear">
                                  <div class="response" id="mce-error-response" style="display:none"></div>
                                  <div class="response" id="mce-success-response" style="display:none"></div>
                              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div class="indicates-required hidden"><span class="asterisk">*</span> indicates required</div>
                          <div class="mc-field-group">
                              <label class="hidden" for="hidden mce-EMAIL">Email Address  <span class="asterisk">*</span>
                          </label>
                              <input type="email" value="" name="EMAIL" placeholder="Your email" class="required email" id="mce-EMAIL">
                          </div>

                              <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8d32cc1098dad68953f5bab7_82a109e7bc" tabindex="-1" value=""></div>
                              <div class="clear"><input type="submit" class="button" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                              </div>
                          </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                        <p class="paragraph--small">Don't worry, we won't bombard you and you can unsubscribe at any time.</p>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 margin--bottom">
                        <h3 class="icon-bulb footer__title">Get inspired</h3>
                        <ul class="list--unstyled footer__links">
                        {% for link in linklists.footer.links %}
                          <li class="icon-tag"><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h3 class="icon-shop footer__title">Our shop</h3>
                        {{ settings.footer_contact_text }}

                    </div>
                    <div class="col-md-3 col-sm-4 not-palm">
                        <h3 class="icon-like footer__title">Social media</h3>
                        <ul class="list--unstyled list--inline footer__social">
                            {% unless settings.social_facebook_link == blank %}
        			        <li>
                                <a href="{{ settings.social_facebook_link }}"><img src="{{ 'icon--facebook.png' | asset_url }}"></a>
                            </li>
                            {% endunless %}
                            {% unless settings.social_twitter_link == blank %}
        			        <li>
                                <a href="{{ settings.social_twitter_link }}"><img src="{{ 'icon--twitter.png' | asset_url }}"></a>
                            </li>
                            {% endunless %}
                            {% unless settings.social_pinterest_link == blank %}
        			        <li>
                                <a href="{{ settings.social_pinterest_link }}"><img src="{{ 'icon--pinterest.png' | asset_url }}"></a>
                            </li>
                            {% endunless %}
                            {% unless settings.social_instagram_link == blank %}
                            <li>
                                <a href="{{ settings.social_instagram_link }}"><img src="{{ 'icon--instagram.png' | asset_url }}"></a>
                            </li>
                            {% endunless %}
        		        </ul>
                    </div>

                </div>

                <p class="align--centre paragraph--small footer__smallprint">All content &copy; {{ shop.name }} {{ 'now' | date: "%Y" }}. All rights reserved. Site by <a href="http://un.titled.co.uk">Un.titled</a>, powered by <a href="http://www.shopify.com/website">Shopify</a>.</p>
            </div>
        </footer>

      {{ 'jquery-1.11.3.min.js' | asset_url | script_tag }}
      {{ 'social-button.js' | asset_url | script_tag }}
      {{ 'owl.carousel.min.js' | asset_url | script_tag }}
      {{ 'Origin.min.js' | asset_url | script_tag }}

      {% if template contains 'product' %}
        {% if settings.product_image_zoom_type == 'lightbox'  %}
          {{ 'magnific-popup.min.js' | asset_url | script_tag }}
        {% elsif settings.product_image_zoom_type == 'zoom-in' %}
          {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
        {% endif %}
      {% endif %}

      {% if template contains 'article' or template contains 'product' %}
        {% if settings.social_sharing_blog or settings.social_sharing_products %}
          {{ 'social-buttons.js' | asset_url | script_tag }}
        {% endif %}
      {% endif %}
</body>
</html>
