<div class="container">
    <div class="boxed margin--top margin--bottom">
        {% assign number_of_comments = article.comments_count %}

        {% if comment and comment.created_at %}
            {% assign number_of_comments = article.comments_count | plus: 1 %}
        {% endif %}

        {% paginate article.comments by 5 %}

        {% comment %}{% include 'breadcrumb' %}{% endcomment %}

        <div class="container container--thin">
            <h1 class="page-title"><span>{{ article.title }}</span></h1>
                <p class="paragraph--small align--centre weight--bold">
                    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                    {% comment %}
                    <span class="meta-sep">&#8226;</span>
                    {{ article.author }}
                    {% endcomment %}
                    {% if article.tags.size > 0 %}
                        <span class="meta-sep">&#8226;</span>
                        {% for tag in article.tags %}
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} <span class="meta-sep">&#8226;</span> {% endunless %}
                        {% endfor %}
                    {% endif %}
                </p>

                {% if article.image %}
                    <a href="{{ article.url }}">

                        {% assign image_alt = article.title | escape %}
                        {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}
                    </a>
                {% endif %}

                <div class="article__content" class="rte" itemprop="articleBody">
                    {{ article.content }}
                </div>

                {% if settings.social_sharing_blog %}
                    <div class="margin--bottom">
                        {% include 'social-sharing' %}
                        <p class="align--centre"><a class="button button--pill margin--top" href="/blogs/news">Back to latest news</a></p>
                    </div>
                {% endif %}

            </div>

        {% endpaginate %}
    </div>
</div>
