{% assign products_per_row = settings.collections_products_per_row %}
{% assign rows = settings.collections_rows %}
{% assign total_products = products_per_row | times: rows %}

{% paginate collection.products by total_products %}

{% include 'breadcrumb' %}


<div class="boxed margin--bottom">
    <div class="margin--bottom">
        {% if collection.image %}
            <div class="page-title-hero">
                <img src="{{ collection | img_url: 'master' }}"  alt="{{ collection.title | escape }}">
                <div class="page-title-hero__copy">
                    <h1 class="page-title"><span>{{ collection.title }}</span></h1>
                    {% if collection.description != blank %}
                      <div class="collection-desc align--centre">
                        {{ collection.description }}
                      </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h1 class="page-title"><span>{{ collection.title }}</span></h1>
            {% if collection.description != blank %}
              <div class="collection-desc margin--bottom align--centre">
                {{ collection.description }}
              </div>
            {% endif %}
        {% endif %}
    </div>

{% case products_per_row %}
  {% when '2' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-half' %}
  {% when '3' %}
    {% assign grid_item_width = 'small--one-half medium--one-third large--one-third' %}
  {% when '4' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-quarter' %}
  {% when '5' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-fifth' %}
{% endcase %}

<div class="row">

  {% for product in collection.products %}

    {% include 'product-grid-item' %}

  {% endfor %}

</div>

{% if paginate.pages > 1 %}

  <div class="align--centre">
    {% include 'pagination-custom' %}
  </div>
{% endif %}

{% endpaginate %}
</div>
