{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<nav class="nav">
    <div class="container flush--top flush--bottom">
        <a class="nav__toggle" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Menu
        </a>
        <ul class="list--unstyled list--inline align--centre nav__items">
          {% for link in linklists.main-menu.links %}
            {% comment %}
              Create a dropdown menu by naming a linklist the same as a link in the parent nav

              More info on dropdowns:
                - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
            {% endcomment %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="nav__parent" aria-haspopup="true">
                <span class="site-nav__link site-nav__link--dropdown">
                  {{ link.title }}
              </span>
                <ul class="nav__dropdown">
                  {% for childlink in linklists[child_list_handle].links %}
                    <li class="nav__child">
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav__parent">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav__parent nav__paren--standout">
              <a href="/cart">
                  Basket ({{ cart.item_count }})
              </a>
          </li>
      </ul>
  </div>
</nav>
