<div class="welcome">
    <div class="owl-carousel">
        {% for i in (1..6) %}
            {% capture slide %}slide_{{ i }}{% endcapture %}
            {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
            {% capture slide_img %}slide_{{ i }}.jpg{% endcapture %}
            {% capture slide_alt %}slide_{{ i }}_alt{% endcapture %}
            {% if settings[slide] %}
                <div>
                    <a class="welcome__slide" style="background-image: url({{ slide_img | asset_img_url: 'master' }} );" href="{{ settings[slide_link] }}">
                        <h1 class="welcome__title">{{ settings[slide_alt] }}</h1>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
